<!DOCTYPE html>
<html>
<head>
  <title>Missing Page - 404</title>
  <style type="text/css">
    body {
      color: #fff;
      text-shadow: 0 1px 2px #000;
      font-family: "chaparral-pro", 'Helvetica Neue', arial, sans-serif;
    }

    body {
      background: #0F0000 url(https://i.imgur.com/3mykX.gif) no-repeat center center;
      background-size: cover;
    }
    div.dialog {
      width: 40%;
      padding: 2em;
      margin: 2em auto 0 2em;
    }
    h1 {
      font-style:italic;
      font-size:40px;
      line-height:48px;
      margin-bottom:.5em;
    }
    p {
      font-size:20px;
      line-height:30px;
    }
    a {
      color:#fff;
      font-weight:bold;
      text-decoration:none;
      border-bottom: 2px solid rgba(255,255,255,.5);
    }
    a:hover {
      border-bottom: 2px solid rgba(255,255,255,1);
    }
  </style>
  <script type="text/javascript" src="https://use.typekit.com/wmp1iin.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <h1>Yeah, that shit's gone.</h1>
    <p>We've sent a pledge to find what you're looking for, but who knows how long that'll take. You're better off going back to the <a href="https://fratfolder.com" alt="Fratfolder.com">home page</a> or letting our <a href="mailto:admin@fratfolder.com" alt="E-mail Us">academic chair</a> know about this.</p>
    <p>This is a great opportunity to take a quick study break with a beer and reflect on how much ass you're going to kick on that test tomorrow.</p>
  </div>
</body>
</html>
