///////////////////////////////////////////////////////////////////////////////
//
//  Base Typographic Styles
//
///////////////////////////////////////////////////////////////////////////////

// Font Stack
$sans-serif: $helvetica;
$serif: $georgia;

$base-font-family: 'minion-pro', $serif;
$header-font-family: $sans-serif;

// Font Sizes
$base-font-size: 1rem; // this isn't supported in IE8
$base-line-height: $base-font-size * 1.3;

$scale: 1.1618;

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: $base-line-height;
  color: $base-font-color;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  color: $header-font-color;
  font-weight: 400;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
}

h1 {
  font-size: modular-scale($base-font-size, 7, $scale);
  line-height: 1.1em;
  margin: $base-line-height 0;
}

h2 {
  line-height: $base-line-height * 1.75;
  font-size: modular-scale($base-font-size, 4, $scale);
  margin: ($base-line-height * .75) 0;
}

h3 {
  line-height: $base-line-height * 1.5;
  font-size: modular-scale($base-font-size, 3, $scale);
  margin: ($base-line-height * .5) 0;
}

h4 {
  font-size: em(24);
  line-height: $base-line-height * 1.25;
  margin: ($base-line-height * .25) 0;
}

h5 {
  font-size: em(20);
  line-height: $base-line-height;
  margin: 0;
}

h6 {
  font-size: $base-font-size;
  line-height: lh();
  margin: 0;
}

p {
  font-size: $base-font-size;
  line-height: $base-line-height * 1.2;
  margin: 0 0 ($base-line-height * .5);
}

a:link, a:visited {
  color: $base-link-color;
  text-decoration: none;
  @include transition(color 0.1s linear);

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-top: none;
  border-right: none;
  border-left: none;
  margin: $base-line-height 0;
  border-bottom: 1px solid $base-border-color;
}

img {
  margin: 0;
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height * .5);
}

hgroup {
  margin-bottom: $base-line-height * .5;
}

del {
  color: lighten($base-font-color, 15%);
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15%);
  font-style: italic;
  margin: $base-line-height 0;
  padding-left: $base-line-height * .5;
}

cite {
  font-style: italic;
  font-size: smaller;
  color: lighten($base-font-color, 25%);

  &:before {
    content: '\2014 \00A0';
  }
}

strong {
  font-weight: 600;
}

pre, code {
  font-family: 'andale mono', 'monotype.com', 'lucida console', monospace, serif;
  line-height: $base-line-height;
  margin: ($base-line-height * .5) 0;
}
