///////////////////////////////////////////////////////////////////////////////
//
//  Global Variables
//
///////////////////////////////////////////////////////////////////////////////


// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #477DCA;
$dark-gray: #333;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

//  Font Colors
$base-font-color: #444;
$light-font-color: lighten($base-font-color, 30%);

//  Text Link Colors
$base-link-color: $blue;
$hover-link-color: darken($blue, 15%);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Breakpoints
$mobile: new-breakpoint(max-width 480px 5);
$tablet: new-breakpoint(max-width 768px 10);

// Grid structure
$column: 9rem;
$gutter: 5rem;
$grid-columns: 7;
$max-width: 40rem;

// Font Sizing
$base-font-size:20px;
$base-line-height:30px;
@include establish-baseline;

// Visual Grid
//$visual-grid: true;
//.container {background: url('http://www.baselineme.com/30') center top repeat;}
$visual-grid-color: rgba(255,0,0,.2);
$visual-grid-index: back;
