///////////////////////////////////////////////////////////////////////////////
//
//  Global Variables
//
///////////////////////////////////////////////////////////////////////////////


// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #1d62f0;
$blue-alt: #1ad6fd;
$dark-gray: #333;
$light-gray: #666;

//  Font Colors
$header-font-color: #222;
$base-font-color: #444;
$light-font-color: #7F7F7F;

//  Text Link Colors
$base-link-color: $blue;
$hover-link-color: $blue-alt;

// Border color
$base-border-color: $light-gray;

// Grid structure
$column: 9rem;
$gutter: 5rem;
$grid-columns: 7;
$max-width: 33rem;
