$accent:#efefef;

body {
  font-family: "ff-tisa-web-pro", "Hoefler Text", Constantia, Palatino, Georgia, serif;
  color:#333;
  margin:0;
}

.container {
  width:700px;
  margin:0 auto;
  padding:20px 0;
}

a {
  $link-color: #26AE90;
  text-decoration:none;
  font-weight:normal;
  color: $link-color;
  &:hover {
    color:darken($link-color, 20%);
  }
}

header {
  background: $accent;
  span {
    a {
      color:#333;
    }
  }
  p {
    font-size: .8em;
    line-height:1.8em;
    color: darken($accent, 40%);
  }
  border-bottom:1px solid lighten(#000, 90%);
}

article {
  border-bottom:1px solid lighten(#000, 90%);
}

img {
  max-width:100%;
}

blockquote {
  p {
    font-style: italic;
    color:#777;
    img {
      float:left;
      margin:0 20px 20px 0;
      width:70px;
      height:70px;
      border-radius: 35px;
    }
  }
}

h1, h2 {
  font-weight:normal;  
}

h2 span, h1 span {
  display:block;
  font-weight:normal;
  color:#999;
  font-size:.6em;
}