body {
  font-family: "ff-tisa-web-pro", "Hoefler Text", Constantia, Palatino, Georgia, serif;
  color:#333;
  width:700px;
  margin:60px auto;
}

a {
  $link-color: #26AE90;
  text-decoration:none;
  color: $link-color;
  &:hover {
    color:darken($link-color, 20%);
  }
}

header {
  span {
    margin:10px 0;
    color:#777;
    font-style: italic;
  }
  h1 {
    font-size: 4em;
    line-height: 1em;
    margin:0;
    a {
      color:#333;
    }
  }
  p {
    font-size:1.5em;
    margin:10px 0;
    color:#777;
  }
  border-bottom:1px solid lighten(#000, 90%);
}

article {
  border-bottom:1px solid lighten(#000, 90%);
}

img {
  max-width:100%;
}

blockquote {
  p {
    font-style: italic;
    color:#777;
    img {
      float:left;
      margin:0 20px 20px 0;
      width:70px;
      height:70px;
      border-radius: 35px;
    }
  }
}

h2 span {
  display:block;
  font-weight:normal;
  color:#999;
  font-size:.6em;
}