@import "normalize";
@import "bourbon/bourbon";
@import "bitters/base";
@import "neat/neat";

html {
  font-size: 22px;
  border-top: 0.25rem solid rgba(123, 202, 131, 0.5);

  @include media(max-width 768px) {
    @include pad();
    font-size: 20px;
}

@include media(max-width 480px) {
  font-size: 16px;
}
}

body {
  @include outer-container;
}

.container {
  @include span-columns(7);
  @include omega();
}

.site-header {
  @include clearfix;
  font-family: $header-font-family;
  border-bottom: 1px solid rgba(0,0,0,0.08);
  padding: 1rem 0 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;

  nav {

    .logo {
      display: block;
      font-size: 1.2rem;
      font-weight: 700;
      margin: 0 1rem 0 0;

      a { color: $base-font-color; }
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline;
      letter-spacing: 2px;
      font-size: 0.8rem;
      line-height: 2rem;
      font-weight: 600;
      vertical-align: middle;
      margin-right: 2rem;

      a { color: $light-font-color; }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

article[role="main"] {
  h1 {
    margin-bottom: 0;
  }

  .byline {
    font-size: 1rem;
    line-height: 1rem;
    color: $light-font-color;
    font-style: italic;
    font-weight: 500;
  }
}

.article {
  ul, ol {
    margin-bottom:1.5rem;
  }
}

img {
  max-width: 100%;
}

blockquote {
  border-left: .25em solid lighten($light-font-color, 35%);
  padding:0 1em;
  margin:1em 0;

  p {
    color: $light-font-color;
    font-style: italic;
  }
}

.site-footer {
  section {
    margin: 2rem 0;
    border-top: 1px solid rgba(0,0,0,0.08);
    padding-top: 1rem;
  }

  p {
    color: $light-font-color;
    font-size: 0.8rem;
  }
}

.archive {
  ul {
    list-style-type: none;
    @include clearfix;
    padding: 0;
    margin: 3rem 0 0;

    li {
      margin-bottom:1.5em;

      span {
        color: $light-font-color;
        display: block;
      }

      a {
        font-weight: 700;
        color: $base-font-color;
        font-size: 1.25rem;
        text-decoration: none;
      }
    }
  }
}

.products {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
    color: $light-gray;
  }
}

.about {
  img {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.hero {
  margin-bottom: 1rem;
}

.index {
  text-align: center;

  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
}
