@import "compass/vertical_rhythm";
@import "bourbon/bourbon";
@import "neat/neat-helpers";

//$visual-grid: true;
//.container {background: url('http://www.baselineme.com/30') center top repeat;}
$visual-grid-color: rgba(255,0,0,.2);
$visual-grid-index: back;

$mobile: new-breakpoint(max-width 480px 4);
$tablet: new-breakpoint(max-width 768px 8);

$column: 9rem;
$gutter: 3rem;
$grid-columns: 5;
$max-width: 30rem;

@import "neat/neat";

$color:rgb(46, 137, 196);

a {
  font-weight: 600;
}


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

input, button, select, textarea {
  font: inherit;
}

html {
  
}

body {
    font-family: "lemonde-journal", Georgia; 
    color:#333;
}

$base-font-size:20px;
$base-line-height:30px;

@include establish-baseline;

a {
  color:#333;
  text-decoration: none;
  &:hover {
    color: $color;
  }
}


h1 {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 700;
}
h2 {
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 600;
}
h3 {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 400;
}
h4 {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: normal;
}
h5 {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: normal;
}
h6 {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: normal;
}
p, li {
    font-size: 1em;
    line-height: 1.5em;
    color:#333;
}

p {
  margin-bottom: 1.5em;

  &+p {
    //margin-top:-.5em;
    //text-indent: 1em;
  }
}

.container {
  @include outer-container;
}

header {
  text-align: center;

  .container {
    border-bottom:1px dotted rgba(0,0,0,.3);
    padding:.75em 0;
  }

  h1 {
    font-size:1.5em;
    line-height: 1.25em;
    margin:.5em 0 0 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    //font-family: "aw-conqueror-sans";

    a {
      //color:#fff;
    }

    @include media($tablet) {
      @include pad;
    }
  }

    h2 {
    font-size:.75em;
    line-height: 2.5em;
    font-weight: 400;
    color: rgba(0,0,0,.5);
    font-style: italic;

    @include media($tablet) {
      display:none;
    }

    a {
      //color:rgba(255,255,255,.8);
    }

  }

  

  section {
    @include span-columns(5);
  }

  @include media($tablet) {
    padding:0;
  }
}

nav[role="navigation"] {
  
  
  margin-bottom: 1.5em;
  //background: rgba(0,0,0,.05);

  .container {
    padding:.5em 0;
    border-bottom:1px dotted rgba(0,0,0,.3);

    @include media($tablet) {
      padding:0;
    }
  }

  ul {
    @include span-columns(5);
    list-style-type: none;

    li {
      float:left;
      width:33%;
      text-align: center;
      //font-family: "aw-conqueror-sans";
      text-transform: uppercase;
      font-size:.75em;
      line-height:2.5em;
      letter-spacing: 2px;

      &:after {
        content: "—";
        float:right;
        color:rgba(0,0,0,.3);
      }

      &:last-child:after {
        content: "";
      }

      @include media($tablet) {
        float: none;
        width:100%;
        @include pad(1em default);
        border-top:1px dotted rgba(0,0,0,.3);
        
        &:after {
          content: "";
        }
      }

    }
  }

  @include media($tablet) {
    border-bottom: none;
    margin:0;
    padding:0;
  }

}

article {

  @include media($tablet) {
    @include fill-parent;
    @include pad;
  }

  h2 {
    line-height: 1.5em;
  }

  h3 {
    color:rgba(0,0,0,.5);
  }

  [role="article"] {
    margin-bottom: 1.5em;
  }

  ul, ol {
    margin-bottom:1.5rem;
  }
}

footer {
  ol {
    
    list-style-type: none;
    
    li {
      span {
        text-align: right;
        @include span-columns(2);
        color:#999;
      }
    
      a {
        @include span-columns(10);
      }
    }
  }
  
}

img {
  max-width: 100%;
}

.article section {
  margin-top:1.5em;

  a {
    text-decoration: underline;
  }

  p li {
    list-style-type: square;
  }

}

blockquote {
  border-left: .25em solid #efefef;
    padding:0 1em;
    margin:1em 0;

  img {
    margin:0 .5em .5em 0;
    width:60px;
    height:60px;
    border-radius: 30px;
    float:left;
  }


  p {
    
    color:#999;
    font-style: italic;
  }
}

article nav {
  border-top:1px dotted rgba(0,0,0,.3);
  @include span-columns(5);
  font-size:.75em;
  line-height: 2.5em;
  padding:.5em;
  
  
}

footer {
  .container {
    border-top:1px dotted rgba(0,0,0,.3);
  }
  
  line-height: 1.5em;

  [role="attribution"] {
    @include span-columns(5);
    text-align: center;
    padding:1rem;

    p {
      color:rgba(0,0,0,.5);
      margin-bottom: 0;
      line-height:1em;
      font-size:.75em;
    }

    li {
      float:left;
      list-style-type: none;
      text-align: center;
      //font-family: "aw-conqueror-sans";
      text-transform: uppercase;
      font-size:.75em;
      line-height:2.5em;
      letter-spacing: 2px;

      &:after {
        content: "—";
        float:right;
        color:rgba(0,0,0,.3);
      }

      &:last-child:after {
        content: "";
      }
    }
  }
  
}

.products {
  section {
    @include span-columns(2.5);
    @include omega(2n);
    text-align: center;
    margin-bottom:1.5em;

    a {font-weight: 600;}
    
    p {
      color:rgba(0,0,0,.5);
      font-size:.75em;
      line-height:2em;
      font-style: italic;
      margin-bottom:0;
    }
  }

  .dead {
    text-decoration: line-through;
    opacity:.5;
  }
}

.archive {
  ul {
    list-style-type: none;
    margin-bottom:1em;
    @include clearfix;
    
    li {
      margin-bottom:1.5em;
      @include span-columns(5);

      span {
        @include span-columns(2);
        color:rgba(0,0,0,.5);
        text-align: right;
        vertical-align: middle;
        font-size:.75em;
        font-style: italic;
      }
      
      a {
        @include span-columns(3);
        font-weight: 600;
      }
    }
  }

  nav {
    border-top: .25em solid rgba(0,0,0,.3);
  }
}

.about {
  img {
    @include span-columns(2);
    margin:0 auto 1.5em;
    display:block;
  }
  
  p {
    @include span-columns(3);
    @include pad;
  }
}

.hero {
  margin-bottom:1rem;
}