@import "normalize";
@import "bourbon/bourbon";
@import "bitters/base";
@import "neat/neat";

html {
  font-size: 22px;

  @include media(max-width 768px) {
    @include pad();
    font-size: 20px;
  }

  @include media(max-width 480px) {
    font-size: 16px;
  }
}

body {
  @include outer-container;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.break {
  clear: both;
  @include row;
}

.third {
  @include span-columns(3 of 9);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.avatar {
  max-width: 50%;
  padding: 0 0 1rem 1rem;
}

.container {
  @include span-columns(7);
  @include omega();
}

.site-header {
  @include clearfix;
  padding: 1rem 0 0.5rem;
  margin-bottom: 1rem;

  nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline;
      line-height: 2rem;
      vertical-align: middle;
      margin-right: 0.5rem;
      font-style: italic;

      &:after {
        content: '/';
        margin-left: 0.5rem;
        color: #CCC;
      }

      &:last-child {
        margin-right: 0;

        &:after {
          content: none;
        }
      }
    }
  }
}

article[role="main"] {
  .byline {
    font-size: 1rem;
    line-height: 1rem;
    color: $light-font-color;
    font-style: italic;
    font-weight: 500;
  }
}

.article {
  ul, ol {
    margin-bottom:1.5rem;
  }
}

img {
  max-width: 100%;
}

blockquote {
  border-left: .25em solid lighten($light-font-color, 35%);
  padding:0 1em;
  margin:1em 0;

  p {
    color: $light-font-color;
    font-style: italic;
  }
}

.site-footer {
  section {
    border-top: 1px solid lighten(#CCC, 10%);
    margin: 2rem 0;
    padding-top: 1rem;
  }

  input[type='email'] {
    border: 1px solid #CCC;
    padding: 0.5rem 1rem;
    box-shadow: none;
    display: block;
    float: left;
  }

  input[type='submit'] {
    background: $blue;
    color: #fff;
    border: 1px solid $blue;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
  }
}

input {
  -webkit-appearance: none;
}

.archive {
  ul {
    list-style-type: none;
    @include clearfix;
    padding: 0;
    margin: 3rem 0 0;

    li {
      margin-bottom:1.5em;

      span {
        color: $light-font-color;
        display: block;
      }

      a {
        font-weight: 700;
        color: $base-font-color;
        font-size: 1.25rem;
        text-decoration: none;
      }
    }
  }
}

.products {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.about {
  img {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.hero {
  margin-bottom: 1rem;
}

.index {
  h1 {
    margin-bottom: 1rem;
    font-weight: normal;
  }

  h2 {
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.4em;

    span {
      display: block;
    }
  }

  p {
    color: #808080;
  }
}
