@import "normalize";
@import "bourbon/bourbon";
@import "bitters/base";
@import "neat/neat";

html {
  font-size: 20px;
}

body {
  @include outer-container;
}

.container {
  @include span-columns(7);
}

header[role="author"] {
  @include clearfix;
  font-family: $header-font-family;
  border-bottom: 0.5rem solid rgba(0,0,0,0.08);
  padding: 1rem 0;
  margin-bottom: 1rem;

  nav {
    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      display: inline;
      margin-left: 1rem;
      float: right;

      &.logo {
        float: left;
        font-weight: 600;
        margin: 0 1rem 0 0;

        a {
          color: $base-font-color;
        }
      }
    }
  }
}

article[role="main"] {
  .byline {
    font-size: 1rem;
    line-height: 1rem;
    color: $light-font-color;
    font-weight: 400;
  }

  h3 {
    font-weight: 400;
  }
}

.article {
  ul, ol {
    margin-bottom:1.5rem;
  }
}

img {
  max-width: 100%;
}

blockquote {
  border-left: .25em solid lighten($light-font-color, 35%);
  padding:0 1em;
  margin:1em 0;

  p {
    color: $light-font-color;
    font-style: italic;
  }
}


footer {
  [role="attribution"] {
    margin: 2rem 0;
  }

  p {
    color: $light-font-color;
    font-size: .75rem;
  }

}

.products {
  margin-top: 3rem;

  .product {
    @include transition (all .33s ease-in-out);

    @include span-columns(3.5);
    @include omega(2n);

    height: 20rem;
    padding: 4rem 1rem 1rem;
    margin-bottom:1.5em;
    border: 1px solid rgb(240,240,240);
    text-align: center;

    &:hover {
      border: 1px solid rgb(220,220,220);
    }

    &.dead {
      opacity: .5;

      &:hover {
        opacity: 1;
      }
    }
  }

  a {
    text-decoration: none;
    color: $base-font-color;
  }

  i {
    display: block;
    margin: 0 auto .5rem;
    background: red;
    color: #fff;
    text-align: center;
    line-height: 3rem;
    padding: 3px;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  h3 {
    font-weight: 700;
    margin-bottom: 0;
  }

  p {
    font-weight: 400;
    color: $light-font-color;
    font-size:.75em;
    line-height:2em;
    font-style: italic;
    margin-bottom:0;

    &.stat {
      font-style: normal;
    }
  }
}

.archive {
  ul {
    list-style-type: none;
    @include clearfix;
    padding: 0;
    margin: 3rem 0 0;

    li {
      margin-bottom:1.5em;

      span {
        color: $light-font-color;
        display: block;
      }

      a {
        font-weight: 700;
        color: $base-font-color;
        font-size: 1.25rem;
        text-decoration: none;
      }
    }
  }
}

.about {
  img {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.hero {
  margin-bottom: 1rem;
}

a.article-link {
  color: $light-font-color;
  text-decoration: none;
}

html {
  @include media(max-width 768px) {
  }

  @include media(max-width 480px) {
    font-size: 95%;
    @include pad();
  }
}
