<div id="mc_embed_signup" class="border border-black rounded p3 mb3 col-12 md-col-10 lg-col-8 px2" style="background: #f8f8f9">
  <form action="//alexbaldwin.us7.list-manage.com/subscribe/post?u=772a21ec21a471387f298f0ab&amp;id=cd91fde308" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <p>Every other week, I send a newsletter about design, marketing, and weird stunts I've pulled. You could be one of those wonderful folks.</p>
    <div class="flex">
      <label for="search-input" class="hide">Search</label>
      <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="flex-auto m0 field rounded-left" placeholder="Search">
      <button class="btn rounded-right border black bg-silver" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">Subscribe</button>
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_772a21ec21a471387f298f0ab_cd91fde308" tabindex="-1" value=""></div>
  </form>
</div>
