<div class="border border-black rounded p3 mb3 col-12 md-col-10 lg-col-8 px2" style="background: #f8f8f9">
  <form action="https://simplecasual.email/subscribe" method="POST" accept-charset="utf-8">
    <p>Every other week, I send a newsletter about design, marketing, and weird stunts I've pulled. You could be one of those wonderful folks.</p>
    <div class="flex">
      <input type="email" value="" name="email" id="email" class="flex-auto m0 field rounded-left" placeholder="Your email address">
      <input type="submit" class="btn rounded-right border black bg-silver" value="Subscribe" name="submit" id="submit" class="button">
    </div>
    <input type="hidden" name="list" value="xjZqV7MLxnxsPMANjDYiRQ"/>
    <div style="display:none;">
      <label for="hp">HP</label><br/>
      <input type="text" name="hp" id="hp"/>
    </div>
  </form>
</div>
