<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      {% include basscss.min.css %}
      body, h1, h2, h3, h4, h5, h6 {
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="https://palx.jxnblk.com/07c.css">
    {% seo %}
  </head>
  <body>
    <article role="main">
      {{ content }}
    </article>
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
ga('create','UA-24725855-1','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  </body>
</html>
