<article class="about">
	<%= image_tag 'alex-baldwin.jpg' %>

	<p>Why hello there, I'm Alex Baldwin. I design and develop products for the internet using wit & charm. When I'm not doing that, you can find me climbing nature, disc jockeying, drinking lattes, or possibly cartwheeling.</p>

</article>


