<article class="about">
	<%= image_tag 'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/38022_1552433168932_2550976_n.jpg' %>

	<p>Why hello there, you caught me at a weird time, I'm Alex Baldwin. I design and develop <%= link_to 'products for the internet', '/products' %> using wit & charm. When I'm not doing that, you can find me climbing nature, disc jockeying, drinking lattes, or possibly cartwheeling.</p>

	<p>Enough about me though, let's talk about you. Say hello on <%= link_to 'twitter', 'http://twitter.com/alexbaldwin' %>, or if we can always use <%= mail_to 'alexbaldwin@gmail.com', 'electronic mail' %>.</p>
</article>


