<article class="about">
	<%= image_tag('https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash3/p206x206/37277_444540354049_3033293_n.jpg', alt: 'Alex Baldwin') %>

	<p>Why hello there, I'm Alex Baldwin. I design and develop products for the internet using wit & charm. When I'm not doing that, you can find me climbing nature, disc jockeying, drinking lattes, or possibly cartwheeling.</p>

</article>


