<%= image_tag "lion-king-alex-baldwin.jpg", class: "hero" %>

<p>Howdy, I'm Alex Baldwin, a designer in San Francisco. Read what I'm thinking, or see the products I've been lucky enough to be a part of.</p>
