<% page_articles.each_with_index do |article, i| %>
  <section role="article">
    <h2><%= link_to article.title, article %></h2>
    <h3><%= article.date.strftime('%B %e, %Y') %></h3>
  </section>
<% end %>

<%= link_to "View previous articles &rarr;", "/archive" %>
