<%= image_tag "lion-king-alex-baldwin.jpg", class: "hero" %>

<p>Howdy, I'm ALEX Baldwin, a designer in San Francisco. Read my latest <%= link_to 'articles', '/archive' %>, or see the <%= link_to 'products', '/products' %> I've been lucky enough to be a part of.</p>
