%article.products
  %ul
    %li
      = link_to 'Hack Design', '//hackdesign.org'
      %p
        %strong
          = hack_design_users
          design aspirants
      %p Introduction to design course for beginners. Hack Design sends students weekly curated lessons by top designers coveraging a broad range of topics.
      <blockquote class="twitter-tweet"><p><a href="https://twitter.com/hackdesign">@HackDesign</a> is the most valuable source of design that I have read. Keep amazing work, guys :) <a href="http://t.co/affjv0Cg4g">http://t.co/affjv0Cg4g</a></p>&mdash; Dung Quang (@nXqd) <a href="https://twitter.com/nXqd/statuses/359786593004945408">July 23, 2013</a></blockquote>
    %li
      = link_to 'Console.fm', '//console.fm'
      %p 
        %strong 132,000 listeners
      %p Top charts for electronic dance music. Console.fm sorts through weekly DJ charts to surface the top and upcoming hottest tracks.
      <blockquote class="twitter-tweet"><p>The best workout playlists are on <a href="https://twitter.com/consolefm">@consolefm</a> <a href="https://twitter.com/search?q=%23beastmode&amp;src=hash">#beastmode</a></p>&mdash; Vik Bhatti (@otaku_coder) <a href="https://twitter.com/otaku_coder/statuses/271931471726526465">November 23, 2012</a></blockquote>
