%h2.h3 Products
%p.p
  #{link_to 'Dripstr', '//dripstr.com'} is a directory of indie coffee shops in Austin. Find the best cup of coffee near you.
  %span.light-gray.small April 2014

%p.p
  #{link_to 'Hack Design', '//hackdesign.org'} Introduction to design course for beginners. Hack Design sends students weekly curated lessons by top designers coveraging a broad range of topics. With #{hack_design_users} design aspirants.
  %span.light-gray.small January 2013

%p.p
  #{link_to 'Console.fm', '//console.fm'} Top charts for electronic dance music. Console.fm sorts through weekly DJ charts to surface the top and upcoming hottest tracks. Over 130,000 listeners.
  %span.light-gray.small July 2011
